# Documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "nuget" # See documentation for possible values
    directory: "/OSLC4Net_SDK" # Location of package manifests
    open-pull-requests-limit: 99
    schedule:
      interval: "daily"
    groups:
      aspire-deps:
        patterns:
          - "Aspire.AppHost.Sdk"
          - "Aspire.Hosting.*"
      test-deps:
        patterns:
          - "xunit*"
          - "MSTest.*"
          - "Microsoft.NET.Test.*"
      # often get updates in lockstep with dotnet
      test-ms-essential:
        patterns:
          - "Microsoft.Extensions.*"
          - "System.Configuration.*"
  - package-ecosystem: "github-actions" # See documentation for possible values
    directory: "/" # Location of package manifests
    open-pull-requests-limit: 99
    schedule:
      interval: "daily"
