# Sample environment file for testing OSLC4Net samples
# Copy this to jazz.env and update with real credentials
# JAZZ_NET - https://jazz.net (IBM's public Rational Cloud instance)
# JAZZ_NORDIC - https://nordic.clm.ibmcloud.com (IBM Cloud instance)
# JAZZ_ITM - https://oslc.itm.kth.se (KTH test instance)

JAZZ_NET_USERNAME=test
JAZZ_NET_PASSWORD=testtest
JAZZ_NORDIC_USERNAME=test
JAZZ_NORDIC_PASSWORD=testtest
JAZZ_ITM_USERNAME=test
JAZZ_ITM_PASSWORD=testtest
